#loader {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 300px;
  height: 6px;
  background: var(--loader-bg);
}

#loader-bar {
  height: 100%;
  width: 0%;
  background: var(--loader-fill);
  transition: width 0.05s linear;
}

.hidden {
  display: none;
}
