#loader-screen {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-bar {
  width: 300px;
  height: 8px;
  background: #111;
}

.loader-progress {
  height: 100%;
  width: 0%;
  background: var(--secondary);
  transition: width 0.05s linear;
}
