#node-container {
  position: absolute;
  inset: 0;
}

.node {
  position: absolute;
  width: 14px;
  height: 14px;
  background: var(--secondary);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.node:hover {
  transform: scale(1.5);
}
