#boot-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

#terminal-text {
  color: var(--terminal-green);
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.6;
}
