#boot-screen {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  text-align: center;
}

#terminal-output {
  margin-bottom: 20px;
  white-space: pre-line;
}

.enter-hint {
  opacity: 0.6;
}
